<div class="card <%= event.datetimeFrom < Date.now() && event.datetimeTo > Date.now() ? 'active' : 'inactive' %>">
  <div class="card-image">
    <gmap latitude="<%= event.latitude %>" longitude="<%= event.longitude %>" gkey="<%= gkey %>"></gmap>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= event.title %></p>
        <p class="subtitle is-7">
          <i class="fas fa-map-pin"></i> <%= event.address %>
        </p>
      </div>
    </div>
    <div class="content">
      <%- event.text %>
    </div>
    <div class="card-footer">
      <p class="card-footer-item">
        <date timestamp="<%= event.datetimeFrom %>"></date>
        &nbsp;-&nbsp;
        <date timestamp="<%= event.datetimeTo %>"></date>
      </p>
    </div>
  </div>
</div>