<footer>
  <div class="container">
    <div class="columns">
      <div class="column">
        <h4 class="has-text-primary is-uppercase"><%= __("footer.stayConnected") %></h4>
        <ul>
          <li>
            <a href="https://fb.com/thefirstspine" target="_blank" class="button is-facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCW2snzxKIZd76fWQ55FgVyQ" target="_blank" class="button is-danger">
              <i class="fab fa-youtube-square"></i>
            </a>
            <a href="https://join.slack.com/t/thefirstspine/shared_invite/zt-faiguyap-_~AQjGFzNcnD7bisgn1pWw" target="_blank" class="button is-slack">
              <i class="fab fa-slack"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h4 class="has-text-primary is-uppercase"><%= __("footer.locale") %></h4>
        <ul>
          <li>
            <a href="/l/fr"><img src="/images/fr.png" /></a>
            <a href="/l/en"><img src="/images/us.png" /></a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h4 class="has-text-primary is-uppercase"><%= __("footer.explore") %></h4>
        <ul>
          <li><a href="/arena"><%= __("footer.playOnline") %></a></li>
          <li><a href="/pnp"><%= __("footer.playPnp") %></a></li>
          <li><a href="/about"><%= __("footer.about") %></a></li>
          <li><a href="/rules"><%= __("footer.rules") %></a></li>
        </ul>
      </div>
      <div class="column">
        <h4 class="has-text-primary is-uppercase"><%= __("footer.stayInformed") %></h4>
        <ul>
          <li><a href="/events"><%= __("footer.events") %></a></li>
          <% footer.news.forEach(function(newsItem) { %>
            <li><a href="/blog/<%= newsItem.slug %>"><%= newsItem.title %></a></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</footer>