<script>
Vue.component('navigation', {
  data: function () {
    return {
      isMenuOpened: false,
    }
  },
  props: [],
  template: '#navigation',
})
</script>

<script type="text/x-template" id="navigation">
  <nav class="navbar is-fixed-top is-tfs">
    <div class="container">
      <div class="navbar-brand">
        <a v-on:click="isMenuOpened = !isMenuOpened" :class="{'navbar-burger': true, 'burger': true, 'is-active': isMenuOpened}">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div :class="{'navbar-menu': true, 'is-active': isMenuOpened}">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            <%= __("navigation.home") %>
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/blog"><%= __("navigation.news") %></a>
            <div class="navbar-dropdown">
              <a href="/blog" class="navbar-item">
                <%= __("navigation.blog") %>
              </a>
              <hr class="navbar-divider">
              <a href="/events" class="navbar-item">
                <%= __("navigation.events") %>
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/arena"><%= __("navigation.play") %></a>
            <div class="navbar-dropdown">
              <a href="/arena" class="navbar-item">
                <%= __("navigation.online") %>
              </a>
              <hr class="navbar-divider">
              <a href="/pnp" class="navbar-item">
                <%= __("navigation.pnp") %>
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/about"><%= __("navigation.about") %></a>
            <div class="navbar-dropdown">
              <a href="/about" class="navbar-item">
                <%= __("navigation.fewWords") %>
              </a>
              <hr class="navbar-divider">
              <a href="/rules" class="navbar-item">
                <%= __("navigation.rules") %>
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item flags">
            <a href="/l/fr">
              <img src="/images/fr.png" />
            </a>
            <a href="/l/en">
              <img src="/images/us.png" />
            </a>
          </div>
          <% if(typeof(user_id) === 'undefined' || !user_id) { %>
            <a href="/login" class="navbar-brand avatar">
              <img src="/images/menu-login.png" />
            </a>
            <a href="/login" class="navbar-item">
              <%= __("navigation.login") %>
            </a>
          <% } else { %>
            <a href="/profile" class="navbar-brand avatar">
              <img src="/images/menu-login.png" />
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><%= __("navigation.account") %></a>
              <div class="navbar-dropdown">
                <a href="/profile" class="navbar-item">
                  <%= __("navigation.yourAccount") %>
                </a>
                <hr class="navbar-divider">
                <a href="/logout" class="navbar-item">
                  <%= __("navigation.logout") %>
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  
</script>
