<%- include('../elements/nav.ejs') %>

<div id="about" class="">
  <div class="about-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow"><%= __("about.title") %></h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">

        <div class="has-text-centered">
          <h1 class="is-size-3 has-text-primary"><%= __("about.whereTitle") %></h1>
          <p class="has-margin-top-2">
            <%= __("about.whereText") %>
          </p>
          <p class="has-margin-top-2">
            <a class="button is-primary is-medium" href="/arena"><%= __("about.online") %></a>
            <a class="button is-primary is-medium" href="/pnp"><%= __("about.offline") %></a>
          </p>
        </div>

        <hr />

        <div class="columns has-margin-top-2">
          <div class="column has-text-centered is-hidden-touch">
            <div class="card-wrapper is-one-third has-margin-top-2">
              <card-autoload color="#111" cardId="summoner" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h1 class="is-size-3 has-text-primary"><%= __("about.howWePlayTitle") %></h1>
            <p class="is-size-5 has-margin-top-2"><%= __("about.howWePlayText1") %></p>
            <p class="is-size-5 has-margin-top-2"><%= __("about.howWePlayText2") %></p>
            <p class="is-size-5 has-margin-top-2"><%= __("about.howWePlayText3") %></p>
          </div>
        </div>

        <hr />
        
        <div class="has-text-centered">
          <h1 class="is-size-3 has-text-primary"><%= __("about.storyTitle") %></h1>
          <p class="has-margin-top-2"><%= __("about.storyText1") %></p>
          <p class="has-margin-top-2"><%= __("about.storyText2") %></p>
          <p class="has-margin-top-2"><%= __("about.storyText3") %></p>
          <p class="has-margin-top-2"><%= __("about.storyText4") %></p>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
