<%- include('../elements/nav.ejs') %>

<div id="arena">
  <div class="arena-header">
    <div class="container has-text-centered">
      <h1 class="has-text-primary is-uppercase is-size-1" style="margin: .5em 0">
        <%= __("arena.playOnline") %>
      </h1>
      <p class="mt-4 is-size-4"><%= __("arena.introduction") %></p>
      <p class="mt-4">
        <a class="button is-link is-size-5" href="https://play.thefirstspine.fr/" target="_blank">
          <i class="fas fa-desktop"></i> &nbsp;
          <%= __("arena.browser") %>
        </a>
        <a class="button is-success is-size-5" href="https://play.m.thefirstspine.fr/" target="_blank">
          <i class="fas fa-mobile-alt"></i> &nbsp;
          <%= __("arena.mobile") %>
        </a>
      </p>
      <img class="mt-4" src="images/arena-0.png" />
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1 has-text-centered">
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <img src="images/arena-1.png" />
      </div>
      <div class="column">
        <h3 class="has-text-primary is-size-3"><%= __("arena.allTheContentTitle") %></h3>
        <p class="mt-4"><%= __("arena.allTheContentText1") %></p>
        <p class="mt-4"><%= __("arena.allTheContentText2") %></p>
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column">
        <h3 class="has-text-primary is-size-3"><%= __("arena.cyclesTitle") %></h3>
        <p class="mt-4"><%= __("arena.cyclesText") %></p>
      </div>
      <div class="column has-text-centered">
        <img src="images/arena-2.png" />
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <img src="images/arena-3.png" />
      </div>
      <div class="column">
        <h3 class="has-text-primary is-size-3"><%= __("arena.versionsTitle") %></h3>
        <p class="mt-4"><%= __("arena.versionsText1") %></p>
        <p class="mt-4"><%= __("arena.versionsText2") %></p>
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column">
        <h3 class="has-text-primary is-size-3"><%= __("arena.helpTitle") %></h3>
        <p class="mt-4"><%= __("arena.helpText") %></p>
      </div>
      <div class="column has-text-centered">
        <img src="images/arena-4.png" />
      </div>
    </div>
  </div>

  <div class="separator has-margin"></div>

  <div class="container">
    <p class="is-size-3 is-uppercase has-text-centered has-text-primary"><%= __("arena.services") %></p>
    <div class="level mt-4">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.arena") %></p>
          <p class="title">
            <service-checker url="https://arena.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.auth") %></p>
          <p class="title">
            <service-checker url="https://auth.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.bots") %></p>
          <p class="title">
            <service-checker url="https://bots.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.calendar") %></p>
          <p class="title">
            <service-checker url="https://calendar.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.messaging") %></p>
          <p class="title">
            <service-checker url="https://messaging.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.rest") %></p>
          <p class="title">
            <service-checker url="https://rest.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.rooms") %></p>
          <p class="title">
            <service-checker url="https://rooms.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.solid-pancake") %></p>
          <p class="title">
            <service-checker url="https://solid-pancake.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading"><%= __("arena.shop") %></p>
          <p class="title">
            <service-checker url="https://shop.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
