<%- include('../elements/nav.ejs') %>

<div id="arena">
  <div class="arena-header">
    <div class="container">
      <h1 class="has-text-centered has-text-primary is-uppercase is-size-2" style="margin: 2em 0">
        <img src="images/arena-icon.png" width="250" /><br />
        Jouez à The First Spine en ligne
      </h1>
      <p class="has-text-centered">
        <% if (windowsVersion) { %>
        <a class="button is-info is-size-5" href="/download/windows">
          <i class="fab fa-windows"></i> &nbsp;
          Windows (v<%= windowsVersion %>)
        </a>
        <% } else { %>
          <a disabled class="button is-info is-size-5">
            <i class="fab fa-windows"></i> &nbsp;
            Bientôt disponible
          </a>
        <% } %>

        <% if (macosVersion) { %>
          <a class="button is-light is-size-5" href="/download/macos">
            <i class="fab fa-apple"></i> &nbsp;
            Mac OS (v<%= macosVersion %>)
          </a>
        <% } else { %>
          <a disabled class="button is-light is-size-5">
            <i class="fab fa-apple"></i> &nbsp;
            Bientôt disponible
          </a>
        <% } %>

        <% if (linuxVersion) { %>
          <a class="button is-primary is-size-5" href="/download/linux">
            <i class="fab fa-linux"></i> &nbsp;
            Linux (v<%= linuxVersion %>)
          </a>
        <% } else { %>
          <a disabled class="button is-primary is-size-5">
            <i class="fab fa-linux"></i> &nbsp;
            Bientôt disponible
          </a>
        <% } %>
      </p>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column">
        <img src="images/cards.gif" />
      </div>
      <div class="column">
        <h3 class="has-text-primary is-size-3">Toutes les cartes et rien de moins</h3>
        <p class="has-margin-top-2">Toutes les cartes de The First Spine sont présentes dans Arena. Vous pouvez jouer avec les decks que vous voulez, quand vous voulez et gratuitement.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="has-text-primary is-size-3">Matchmaking classé ou rapide</h3>
        <p class="has-margin-top-2">Deux types de matchmaking sont disponibles : le matchmaking classé vous mettra en face d'adversaires à votre taille, tandis que le matchmaking rapide vous fera combattre dès qu'un adversaire est disponible.</p>
      </div>
      <div class="column">
        <img src="images/matchmaking.gif" />
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <img src="images/confronts.gif" />
      </div>
      <div class="column">
        <h3 class="has-text-primary is-size-3">Triomphez de vos adversaires</h3>
        <p class="has-margin-top-2">Enchaînez les victoires et débloquez des cosmétiques pour personnaliser vos cartes !</p>
      </div>
    </div>
  </div>

  <div class="separator has-margin"></div>

  <div class="container">
    <p class="is-size-3 is-uppercase has-text-centered has-text-primary">Etat des services en ligne</p>
    <div class="level has-margin-top-2">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Parties en ligne</p>
          <p class="title">
            <service-checker url="https://arena.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Authentification</p>
          <p class="title">
            <service-checker url="https://auth.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">JcE</p>
          <p class="title">
            <service-checker url="https://bots.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Notifications en direct</p>
          <p class="title">
            <service-checker url="https://messaging.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Ressources</p>
          <p class="title">
            <service-checker url="https://rest.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Espaces de discussions</p>
          <p class="title">
            <service-checker url="https://rooms.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Statistiques</p>
          <p class="title">
            <service-checker url="https://solid-pancake.thefirstspine.fr/status"></service-checker>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
