<%- include('../elements/nav.ejs') %>

<div id="blog">
  <div class="blog-heading">
    <div class="article-image" style="background-image: url(/images/<%= article.image %>);"></div>
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered"><%= article.title %></h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <article>
          <%- article.text %>
        </article>
      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
