<%- include('../elements/nav.ejs') %>

<div id="drifter-s-tales" class="has-text-centered">
  <div class="drifter-s-tales-heading has-text-centered">
    <div class="container">
      <img src="/images/drifters-tales-logo.png" />
      <p class="mt-6">
        <a class="button is-primary is-large" href="https://store.steampowered.com/app/1935960/Drifters_Tales/" target="_blank">
          <span class="icon">
            <i class="fab fa-steam"></i>
          </span>
          <span><%= __("driftersTales.getItOnSteam") %></span>
        </a>
        <a class="button is-primary is-large" href="https://play.google.com/store/apps/details?id=fr.thefirstspine.drifterstales" target="_blank">
          <span class="icon">
            <i class="fab fa-android"></i>
          </span>
          <span><%= __("driftersTales.getItOnAndroidSoon") %></span>
        </a>
      </p>
    </div>
  </div>

  <div class="container" style="margin-top: -300px;">
    <p class="mb-4 is-size-3"><%= __("driftersTales.intro1") %></p>
    <p class="mb-4 is-size-4"><%= __("driftersTales.intro2") %></p>
    <p class="mb-4 is-size-4"><%= __("driftersTales.intro3") %></p>

    <p class="my-6">&nbsp;</p>

    <div class="my-6">
      <figure class="image is-16by9">
        <iframe
          class="has-ratio"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/X14Mh3RO3F8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </figure>
    </div>

    <div class="my-6">
      <screenshots
        :images="[
          '/images/drifters-tales-screenshot1.png',
          '/images/drifters-tales-screenshot2.png',
          '/images/drifters-tales-screenshot3.png',
          '/images/drifters-tales-screenshot4.png',
          '/images/drifters-tales-screenshot5.png',
        ]"
      ></screenshots>
      <screenshots
        :images="[
          '/images/drifters-tales-screenshot6.png',
          '/images/drifters-tales-screenshot7.png',
          '/images/drifters-tales-screenshot8.png',
          '/images/drifters-tales-screenshot9.png',
          '/images/drifters-tales-screenshot10.png',
        ]"
      ></screenshots>
    </div>
  </div>

  <a name="mailinglist"></a>
  <div class="separator my-6"></div>

  <div style="background-position: top center; background-repeat: no-repeat; min-height: 400px; background-image: url(/images/drifters-tales-email-background.png); margin-top: -100px;">
    <div class="container my-6">
      <p class="mt-6">&nbsp;</p>
      <p class="mt-6">&nbsp;</p>
      <h1 class="is-size-3 is-uppercase has-text-primary mb-6"><%= __("driftersTales.stayInformed") %></h1>
      <form class="columns" action="/drifters-tales/mailing-list" method="POST">
        <div class="column is-4 is-offset-4 has-text-centered">
          <p class="mb-4">
            <%= __("driftersTales.newsletter") %>
          </p>
          <% if (mailingListError) { %>
            <p class="notification is-danger"><%= __(mailingListError) %></p>
          <% } %>
          <% if (mailingListMessage) { %>
            <p class="notification is-success"><%= __(mailingListMessage) %></p>
          <% } %>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input is-fullwidth" type="email" placeholder="<%= __("driftersTales.email") %>" name="email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <div class="control">
              <button type="submit" class="button is-primary m-0"><%= __("driftersTales.send") %></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="separator my-6"></div>

  <div class="container my-6">
    <h1 class="is-size-3 is-uppercase has-text-primary mb-6"><%= __("driftersTales.videos") %></h1>
    <div class="columns">
      <% devlogs.forEach(function(devlog, index) { %>
        <% if (index % 3 === 0) { %>
          </div><div class="columns">
        <% } %>
        <div class="column is-4">
          <figure class="image is-16by9">
            <iframe
              class="has-ratio"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/<%= devlog.youtubeId %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
        </div>
      <% }) %>
    </div>
  </div>

  <a name="press-kit"></a>
  <div class="separator my-6"></div>

  <div class="container my-6">
    <h1 class="is-size-3 is-uppercase has-text-primary mb-6">Press articles & kits</h1>

    <a class="button is-info is-large" href="https://1drv.ms/f/c/d3529e6ba071f10f/Eg_xcaBrnlIggNN-AQAAAAABykiEwOhEYprtHAnykfms2Q" target="_blank">
      <span class="icon">
        <i class="fas fa-file-download"></i>
      </span>
      <span>Get the press kit</span>
    </a>

    <p class="is-size-8 has-text-grey">Press releases, screenshots & videos</p>

    <div class="columns mt-6 has-text-left">
      <div class="column is-4">
        <p class="mb-4 is-size-6">
          <strong>Developer:</strong><br />
          The First Spine / Teddy GANDON<br />
          Based in France
        </p>
        <p class="mb-4 is-size-6">
          <strong>Key dates:</strong><br />
          Demo: January 24th, 2024<br />
          Release: September 18th, 2024
        </p>
        <p class="mb-4 is-size-6">
          <strong>Platforms:</strong><br />
          Windows<br />
          Android
        </p>
      </div>
      <div class="column is-8 content">
        <p class="mb-4 is-size-5 has-text-weight-bold is-uppercase has-text-primary">Description</p>
        <p>In Drifter’s Tales, you can play different stories featuring unique mechanics and challenge devious and powerful enemies. You play as a wizard whose possibilities are materialized by cards with unique effects. These cards have to be placed on a game board, allowing you to advance to your opponent to ensure you the victory.</p>
        <p class="mb-4 is-size-5 mt-4 has-text-weight-bold is-uppercase has-text-primary">Features</p>
        <ul>
          <li>The game features 12 playable stories of 20 minutes long with unique mechanics (mazes, time-limited actions, infiltration, etc.). Each playthrough allows the player to play to certain stories depending on their path, making each playthrough unique.</li>
          <li>The deckbuilding side of the game contains 80+ cards, which can be obtained in various ways – leveling, loot, secrets, side quests, chests, random encounters. Each card can be modifiable with 10 modifiers.</li>
          <li>Highly strategic battle with multiple builds and enemies - each battle requires from the player to analyze the pattern of the enemy to choose to right strategy at the right time.</li>
        </ul>
        <!--
        <p class="mb-4 is-size-5 mt-4 has-text-weight-bold is-uppercase has-text-primary">Articles</p>
        <p class="mb-4">Here's where we are listed:</p>
        <ul>
          <li><a href="https://gameskeys.net/top-steam-games-to-tryout-in-april-2022/#DriftersTales" target="_blank" rel="nofollow">Top Steam Games To Tryout In April 2022 on GamesKeys</a></li>
          <li><a href="https://www.gamedeveloper.com/press-release/drifters-tales-a-new-indie-narrative-strategic-cards-game-is-available-for-free-on-early-access" target="_blank" rel="nofollow">Drifter’s Tales: a new indie narrative & strategic cards game is available for free on early access on Gamedeveloper.com</a></li>
        </ul>
        -->
      </div>
    </div>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
