<%- include('../elements/nav.ejs') %>

<div id="drifter-s-tales" class="has-text-centered">
  <div class="drifter-s-tales-heading has-text-centered">
    <div class="container">
      <h1 class="is-size-1 is-uppercase has-text-primary has-text-shadow">Drifter's Tales</h1>
      <h1 class="is-size-4 is-uppercase has-text-primary has-text-shadow">
        Les Contes du Vagabond
      </h1>
      <a class="button is-primary is-medium">
        <span class="icon">
          <i class="fab fa-steam"></i>
        </span>
        <span></span>
      </a>
    </div>
  </div>

  <div class="container">
    <p class="mb-4 is-size-4">Les Contes du Vagabond vous propose de petites histoires liées entre-elles dans l'univers de The First Spine.</p>
    <p class="mb-4 is-size-5">Vous êtes un voyageur, peut-être un marchand, peut-être un mercenaire. Ce qui est sûr, c'est que vous êtes devenu un Vagabond. Car en sortant de ce Labyrinthe vous avez perdu tout souvenir de votre vie passée.</p>

    <div class="my-6">
      <screenshots
        :images="[
          '/images/drifters-tales-screenshot-1.jpg',
          '/images/drifters-tales-screenshot-2.jpg',
          '/images/drifters-tales-screenshot-3.jpg',
          '/images/drifters-tales-screenshot-4.jpg',
          '/images/drifters-tales-screenshot-5.jpg',
          '/images/drifters-tales-screenshot-6.jpg',
        ]"
      ></screenshots>
    </div>

    <p class="mb-4 is-size-5 has-text-grey is-uppercase">Ces captures d'écran représentent un jeu en cours de développement.</p>
    <p class="mb-4 is-size-5 has-text-grey is-uppercase">Date de lancement : septembre 2022.</p>
  </div>

  <div class="separator my-6"></div>

  <div class="container my-6">
    <h1 class="is-size-3 is-uppercase has-text-primary mb-6">Restez informé</h1>
    <form class="columns" action="/drifters-tales/mailing-list" method="POST">
      <div class="column is-4 is-offset-4 has-text-centered">
        <p class="mb-4">
          Restez informé sur le développement des Contes du Vagabond.
        </p>
        <% if (mailingListError) { %>
          <p class="has-text-danger"><%= mailingListError %></p>
        <% } %>
        <% if (mailingListMessage) { %>
          <p class="has-text-success"><%= mailingListMessage %></p>
        <% } %>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input is-fullwidth" type="email" placeholder="Votre adresse e-mail" name="email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <div class="control">
            <button type="submit" class="button is-primary m-0">Envoyer</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="separator my-6"></div>

  <div class="container my-6">
    <h1 class="is-size-3 is-uppercase has-text-primary mb-6">Journal de développement</h1>
    <div class="columns">
      <% devlogs.forEach(function(devlog, index) { %>
        <% if (index % 3 === 0) { %>
          </div><div class="columns">
        <% } %>
        <div class="column is-4">
          <figure class="image is-16by9">
            <iframe
              class="has-ratio"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/<%= devlog.youtubeId %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
        </div>
      <% }) %>
      <% if (devlogs.length <= 3) { %>
        <% for(let i = 0; i < 3 - devlogs.length; i++) { %>
          <div class="column is-4">
            <figure class="image is-16by9">
              <img src="/images/drifters-tales-video-placeholder.jpg" />
            </figure>
          </div>
        <% } %>
      <% } else { %>
        <% for(let i = 0; i < devlogs.length % 3 + 1; i++) { %>
          <div class="column is-4">
            <figure class="image is-16by9">
              <img src="/images/drifters-tales-video-placeholder.jpg" />
            </figure>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>


</div>

<%- include('../elements/footer.ejs') %>
