<%- include('../elements/nav.ejs') %>

<div id="events" class="">
  <div class="events-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">Événéments</h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="tile is-ancestor">
      <% for(let i = 0; i < 3; i ++) { %>
      <div class="tile is-vertical is-4">
        <% for(let j = i; j < events.length; j += 3) { %>
          <div class="tile is-parent">
            <div class="tile">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-3by1">
                    <% if (events[j].type === 'online') { %>
                      <img src="/images/event-placeholder.png" alt="Placeholder image">
                    <% } %>
                    <% if (events[j].type === 'offline') { %>
                      //TODO: MAP
                    <% } %>
                  </figure>
                </div>
                <div class="card-header">
                  
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="/images/event-image.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4"><%= events[j].title %></p>
                      <p class="subtitle is-7">
                        <% if (events[j].type === 'online') { %>
                          <i class="fas fa-wifi"></i> En ligne
                        <% } %>
                        <% if (events[j].type === 'offline') { %>
                          <i class="fas fa-map-marker-alt"></i> Physique
                        <% } %>
                      </p>
                    </div>
                  </div>
                  <div class="content">
                    <%- events[j].text %>
                  </div>
                  <div class="card-footer">
                    <p class="card-footer-item">
                      <%= sails.moment(parseInt(events[j].datetimeFrom, 10)).format('DD/MM/YYYY HH:mm') %>
                      -
                      <%= sails.moment(parseInt(events[j].datetimeTo, 10)).format('DD/MM/YYYY HH:mm') %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
