<%- include('../elements/nav.ejs') %>

<div id="forgotten-password">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <form method="POST" action="/forgotten-password?redirect=<%= redirect %>">
          <h1 class="is-size-3 has-text-centered is-uppercase"><%= __("forgottent-password.title") %></h1>
          <% if(typeof(errors) !== 'undefined' && errors && errors.length) { %>
            <% errors.forEach(function(error){ %>
              <article  class="message is-danger">
                <div class="message-body">
                  <%= __(error) %>
                </div>
              </article >
            <% }); %>
          <% } %>
          <% if(typeof(messages) !== 'undefined' && messages && messages.length) { %>
            <% messages.forEach(function(message){ %>
              <article  class="message is-success">
                <div class="message-body">
                  <%= __(message) %>
                </div>
              </article >
            <% }); %>
          <% } %>
          <p><%= __("forgottent-password.message") %></p>
          <p>&nbsp;</p>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-medium" type="email" name="email" placeholder="<%= __("forgottent-password.email") %>">
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="buttons">
            <div class="field">
              <div class="control">
                <input type="submit" value="<%= __("forgottent-password.send") %>" class="button is-primary is-size-5" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
