<%- include('../elements/nav.ejs') %>

<div id="homepage">
  <div class="homepage-hero <%= ['hunter', 'sorcerer', 'summoner', 'conjurer'][Math.floor(Math.random() * 4)] %>">
    <div class="content">
      <img src="/images/thefirstspine-white.svg" />
      <p class="is-size-4 is-uppercase has-text-centered"><%= __("home.strategicCardGame") %></p>
      <p class="is-uppercase has-text-centered">
        <a href="/arena" class="button is-primary is-size-5"><%= __("home.playOnline") %></a>
      </p>
    </div>
  </div>

  <div class="separator"></div>

  <div class="news-list">
    <% news.forEach(function(newsItem) { %>
      <div class="news-item">
        <div class="image">
          <img src="/images/<%= newsItem.image %>" />
        </div>
        <h3 class="is-size-4 has-text-primary is-uppercase"><%= newsItem.title %></h3>
        <p><%= 
          (newsItem.text.replace(/(<([^>]+)>)/ig,' ').slice(0, 120).split(' ').slice(0, -1).join(' '))
        %>…</p>
        <p>
          <a href="/blog/<%= newsItem.slug %>" class="button is-primary"><%= __("home.readMore") %></a>
        </p>
      </div>
    <% }) %>
  </div>

  <div class="separator"></div>

  <div class="cycle cycle-<%= cycle.current.id %>">
    <div class="container">
      <h3 class="has-text-centered is-size-3 is-uppercase"><%= __("home.currentCycle") %></h3>
      <h2 class="has-text-centered is-size-2 is-uppercase"><%= cycle.current.name[__("locale")] %></h2>
      <div class="columns has-margin-top-2">
        <div class="column is-4 is-offset-4 has-text-centered">
          <p><%= cycle.current.description[__("locale")] %></p>
          <p class="is-uppercase has-text-centered has-margin-top-2">
            <a href="/arena" class="button is-primary is-size-5"><%= __("home.playOnline") %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="separator"></div>

  <div class="code">
    <div class="container">
      <h1 class="has-text-centered has-text-primary is-uppercase is-size-2"><%= __("home.enterYourCode") %></h1>
      <p class="has-text-centered"><%= __("home.enterYourCodeText") %></p>
      <form action="/codes" method="POST" class="has-text-centered has-margin-top-2">
        <div class="field">
          <div class="control codeinput">
            <codeinput classname="input is-large" name="code" placeholder="0000-0000-0000"></codeinput>
          </div>
        </div>
        <div class="field">
          <input class="button is-primary is-medium" type="submit" value="<%= __("home.send") %>" />
        </div>
      </form>
    </div>
  </div>

  <div class="separator"></div>

  <div class="card-of-the-day">
    <div class="container">
      <h2 class="has-text-centered is-size-3 is-uppercase"><%= __("home.cardOfTheDay") %></h2>
      <h3 class="has-text-centered is-size-4 is-uppercase"><%= __("home.cardOfTheDaytext") %></h3>
      <div class="has-text-centered">
        <div class="card-wrapper is-fluid">
          <card-autoload color="#111"
            locale="<%= __("locale") %>"
            :holo="<%= cardOfTheDay.isHolo %>"
            :premium="<%= cardOfTheDay.isPremium %>"
            cardId="<%= cardOfTheDay.cardId %>"></card-autoload>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('../elements/footer.ejs') %>
