<%- include('../elements/nav.ejs') %>

<div id="login" class="">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="columns">
          <div class="column is-one-third">
            <div class="illustration" style="min-height: 500px;"></div>
          </div>
          <form class="column" method="POST" action="/login?redirect=<%= redirect %>">
            <h1 class="is-size-3 has-text-centered is-uppercase"><%= __("login.title") %></h1>
            <% if(typeof(errors) !== 'undefined' && errors && errors.length) { %>
              <% errors.forEach(function(error){ %>
                <article  class="message is-danger">
                  <div class="message-body">
                    <%= __(error) %>
                  </div>
                </article >
              <% }); %>
            <% } %>
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-medium" type="email" name="email" placeholder="<%= __("login.email") %>">
                <span class="icon is-medium is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-medium" type="password" name="password" placeholder="<%= __("login.password") %>">
                <span class="icon is-medium is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
            </div>
            <div class="buttons">
              <div class="field">
                <div class="control">
                  <input type="submit" value="<%= __("login.loginNow") %>" class="button is-primary is-size-5" />
                </div>
              </div>
              <div class="field">
                <div class="notification is-danger is-light">Facebook is no longer supporting Login for The First Spine. We decided to delete the feature.</div>
              </div>
            </div>
            <div class="informations">
              <p class="has-text-centered">
                <a href="/forgotten-password" target="_blank" class="has-text-primary"><%= __("forgotten-password.title") %></a> &bull;
                <a href="/subscribe?redirect=<%= redirect %>" class="has-text-primary"><%= __("subscribe.title") %></a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
