<%- include('../elements/nav.ejs') %>

<div id="pnp">
  <div class="container">

    <h1 class="has-text-primary is-size-2 is-uppercase has-text-centered">
      <i class="far fa-file"></i><br />
      <%= __("pnp.title") %>
    </h1>
    <p class="has-margin-top-1 has-text-centered"><%= __("pnp.introduction") %></p>

    <hr />

    <form method="GET" action="/pnp/build" target="_blank">

      <h2 class="has-text-primary is-size-4 is-uppercase has-margin-top-2">
        <i class="fas fa-scroll"></i>
        <%= __("pnp.content") %>
      </h2>
      <p class="has-margin-top-1"><%= __("pnp.contentText") %></p>

      <div class="columns">
        <div class="column">
          <h3 class="has-text-primary is-size-5 is-uppercase has-margin-top-2"><%= __("pnp.destinies") %></h3>
          <p class="has-margin-top-1"><%= __("pnp.destiniesText") %></p>
          <div class="field has-margin-top-1">
            <label class="checkbox">
              <input type="checkbox" name="conjurer" value="1" checked> <%= __("pnp.conjurer") %>
            </label>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="summoner" value="1" checked> <%= __("pnp.summoner") %>
            </label>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="sorcerer" value="1" checked> <%= __("pnp.sorcerer") %>
            </label>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="hunter" value="1" checked> <%= __("pnp.hunter") %>
            </label>
          </div>
        </div>
        <div class="column">
          <h3 class="has-text-primary is-size-5 is-uppercase has-margin-top-2"><%= __("pnp.origins") %></h3>
          <p class="has-margin-top-1"><%= __("pnp.originsText") %></p>
          <div class="field has-margin-top-1">
            <label class="checkbox">
              <input type="checkbox" name="healer" value="1" checked> <%= __("pnp.healer") %>
            </label>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="architect" value="1" checked> <%= __("pnp.architect") %>
            </label>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="priest" value="1" checked> <%= __("pnp.priest") %>
            </label>
          </div>
        </div>
      </div>

      <h2 class="has-text-primary is-size-4 is-uppercase has-margin-top-2">
        <i class="fas fa-magic"></i>
        <%= __("pnp.style") %>
      </h2>
      <p class="has-margin-top-1"><%= __("pnp.styleText") %></p>
      <div class="columns has-margin-top-1 has-text-centered">
        <div class="column">
          <label class="radio">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="the-fox" cardStyle="classic" locale="<%= __("locale") %>"></card-autoload>
            </div><br />
            <input type="radio" name="style" value="classic" checked> <%= __("pnp.classic") %>
          </label>
        </div>
        <div class="column">
          <label class="radio">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="the-fox" cardStyle="nostalgy" locale="<%= __("locale") %>"></card-autoload>
            </div><br />
            <input type="radio" name="style" value="nostalgy"> <%= __("pnp.nostalgy") %>
          </label>
        </div>
        <div class="column">
          <label class="radio">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="the-fox" cardStyle="scales" locale="<%= __("locale") %>"></card-autoload>
            </div><br />
            <input type="radio" name="style" value="scales"> <%= __("pnp.scales") %>
          </label>
        </div>
        <div class="column">
          <label class="radio">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="the-fox" cardStyle="cartographer" locale="<%= __("locale") %>"></card-autoload>
            </div><br />
            <input type="radio" name="style" value="cartographer"> <%= __("pnp.cartographer") %>
          </label>
        </div>
      </div>

      <hr />

      <p class="has-text-centered">
        <input type="submit" class="button is-primary is-large" value="<%= __("pnp.generate") %>" />
      </p>

    </form>

  </div>
</div>

<%- include('../elements/footer.ejs') %>
