<%- include('../elements/nav.ejs') %>

<div id="profile">

  <div class="profile-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow"><%- __("profile.yourAccount") %></h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <% if(errors.length) { %>
      <% errors.forEach(function(error){ %>
        <article  class="message is-danger">
          <div class="message-body">
            <%= __(error) %>
          </div>
        </article >
      <% }); %>
    <% } %>
    <% if(typeof(messages) !== 'undefined' && messages && messages.length) { %>
      <% messages.forEach(function(message){ %>
        <article  class="message is-success">
          <div class="message-body">
            <%= __(message) %>
          </div>
        </article >
      <% }); %>
    <% } %>
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 class="has-text-primary is-size-3 has-text-centered"><%= __("profile.editOnlineProfile") %></h2>
        <p>&nbsp;</p>
        <p><%- __("profile.download") %></p>
        <hr />
        <h2 class="has-text-primary is-size-3 has-text-centered"><%= __("profile.currencies") %></h2>
        <div class="columns has-text-centered">
          <div class="column">
            <img style="width: 100px;" src="/images/shard.png" />
            <h3 class="is-size-5 is-uppercase has-text-primary"><%= __("code.loots.shard.title", wizard.items.find(i => i.name === 'shard') ? wizard.items.find(i => i.name === 'shard').num : 0) %></h3>
            <p class="is-size-5 is-italic mt-2 is-size-6">
              <%= __("code.loots.shard.text") %>
            </p>
          </div>
          <div class="column">
            <img style="width: 100px;" src="/images/coin.png" />
            <h3 class="is-size-5 is-uppercase has-text-primary"><%= __("code.loots.coin.title", wizard.items.find(i => i.name === 'coin') ? wizard.items.find(i => i.name === 'coin').num : 0) %></h3>
            <p class="is-size-5 is-italic mt-2 is-size-6">
              <%= __("code.loots.coin.text") %>
            </p>
          </div>
        </div>
        <hr />
        <h2 class="has-text-primary is-size-3 has-text-centered"><%- __("profile.editPAssword") %></h2>
        <p>&nbsp;</p>
        <form action="/profile" method="POST">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="password" type="password" placeholder="<%- __("profile.newPassword") %>">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="password2" type="password" placeholder="<%- __("profile.confirmPassword") %>">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <p class="has-text-centered">
            <input type="submit" class="button is-primary" value="<%- __("profile.changePassword") %>" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
