<%- include('../elements/nav.ejs') %>

<div id="mentoring" class="">
  <div class="mentoring-header has-text-primary">
    <h1><%= __("refer-a-friend.title") %></h1>
  </div>

  <div class="container">

    <hr />

    <div class="has-text-centered">
      <h2 class="is-size-2 has-text-primary is-uppercase"><%= __("refer-a-friend.howTo") %></h2>
      <p class="is-size-5 has-text-white mt-4">
        <%= __("refer-a-friend.howToLink") %>
      </p>
      <p class="is-size-3 has-text-white">
        <% if (refering) { %>
          <% if (refering.user) { %>
            <span class="has-text-danger"><%= __("refer-a-friend.alreadyActivated") %></span>
          <% } else { %>
            <span class="has-text-grey" id="refer-link">https://www.thefirstspine.fr/refer-a-friend/<%= refering.code %></span>
            <a class="button is-primary has-tooltip" onclick="copyReferer(this)">
              <i class="fas fa-copy"></i>
            </a>
          <% } %>
        <% } else { %>
          <span class="has-text-danger"><%= __("refer-a-friend.login") %></span>
        <% } %>
      </p>
      <p class="is-size-5 has-text-white mt-4">
        <%= __("refer-a-friend.howToLink2") %>
      </p>
    </div>

    <hr />
    
    <div class="columns  is-vcentered">
      <div class="column has-text-centered">
        <img src="images/friendship-gift.png" />
      </div>
      <div class="column">
        <h2 class="is-size-3 has-text-primary"><%= __("refer-a-friend.giftTitle") %></h2>
        <p class="is-size-5 has-text-white mt-2"><%= __("refer-a-friend.giftText1") %><sup class="has-text-grey">*</sup></p>
        <p class="is-size-5 has-text-white mt-2"><%= __("refer-a-friend.giftText2") %></p>
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="is-size-3 has-text-primary"><%= __("refer-a-friend.progressTitle") %></h2>
        <p class="is-size-5 has-text-white mt-2"><%= __("refer-a-friend.progressText1") %><sup class="has-text-grey">**</sup></p>
        <p class="is-size-5 has-text-white mt-2"><%= __("refer-a-friend.progressText2") %></p>
      </div>
      <div class="column has-text-centered">
        <img src="images/friendship-serial.png" />
      </div>
    </div>

    <div class="mt-4 has-text-grey">
      <p><small>* <%= __("refer-a-friend.conditions1") %></small></p>
      <p><small>** <%= __("refer-a-friend.conditions2") %></small></p>
    </div>

  </div>
</div>

<script>
function copyReferer(btn) {
  // Copy
  const temp = document.createElement("input");
  document.body.appendChild(temp);
  temp.value = document.getElementById("refer-link").textContent;
  temp.select();
  document.execCommand("copy");
  temp.remove();
  btn.setAttribute('disabled', 'disabled');
  btn.innerHTML += '<span class="tooltip">Copié !</span>';
}
</script>

<%- include('../elements/footer.ejs') %>
