<%- include('../elements/nav.ejs') %>

<div id="rules" class="">
  <div class="rules-heading">
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow"><%= __("rules.title") %></h1>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <aside class="menu">
          <p class="menu-label is-size-5">
            <%= __("rules.decksTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#destinies"><%= __("rules.destiniesTitle") %></a></li>
            <li>
              <ul>
                <li><a href="#conjurer"><%= __("rules.conjurerTitle") %></a></li>
                <li><a href="#summoner"><%= __("rules.summonerTitle") %></a></li>
                <li><a href="#sorcerer"><%= __("rules.sorcererTitle") %></a></li>
                <li><a href="#hunter"><%= __("rules.hunterTitle") %></a></li>
              </ul>
            </li>
            <li><a href="#origins"><%= __("rules.originsTitle") %></a></li>
            <li>
              <ul>
                <li><a href="#healer"><%= __("rules.healerTitle") %></a></li>
                <li><a href="#architect"><%= __("rules.architectTitle") %></a></li>
                <li><a href="#priest"><%= __("rules.priestTitle") %></a></li>
                <li><a href="#blacksmith"><%= __("rules.blacksmithTitle") %></a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label is-size-5">
            <%= __("rules.essentialsTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#objective"><%= __("rules.objectiveTitle") %></a></li>
            <li><a href="#content"><%= __("rules.contentTitle") %></a></li>
            <li><a href="#install"><%= __("rules.installTitle") %></a></li>
          </ul>
          <p class="menu-label is-size-5">
            <%= __("rules.cardsTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#types"><%= __("rules.typesTitle") %></a></li>
            <li><a href="#stats"><%= __("rules.statsTitle") %></a></li>
            <li><a href="#specials"><%= __("rules.specialsTitle") %></a></li>
          </ul>
          <p class="menu-label is-size-5">
            <%= __("rules.flowTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#start"><%= __("rules.startTitle") %></a></li>
            <li><a href="#discard"><%= __("rules.discardTitle") %></a></li>
            <li><a href="#actions"><%= __("rules.actionsTitle") %></a></li>
            <li><a href="#confrontations"><%= __("rules.confrontationsTitle") %></a></li>
          </ul>
          <p class="menu-label is-size-5">
            <%= __("rules.capacitiesTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#capacities-card"><%= __("rules.capacities-cardTitle") %></a></li>
            <li><a href="#capacities-side"><%= __("rules.capacities-sideTitle") %></a></li>
          </ul>
          <p class="menu-label is-size-5">
            <%= __("rules.exceptionsTitle") %>
          </p>
          <ul class="menu-list">
            <li><a href="#capacities-vs-effects"><%= __("rules.capacities-vs-effectsTitle") %></a></li>
            <li><a href="#many-capacities-effects"><%= __("rules.many-capacities-effectsTitle") %></a></li>
            <li><a href="#card-vs-rule"><%= __("rules.card-vs-ruleTitle") %></a></li>
            <li><a href="#card-vs-card"><%= __("rules.card-vs-cardTitle") %></a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <a id="decks"></a>
        <h2 class="has-text-primary is-uppercase is-size-2"><%= __("rules.decksTitle") %></h2>
        
        <a id="destinies"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.destiniesTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.destiniesext1") %></p>
        
        <a id="conjurer"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="DODGERBLUE" cardId="conjurer" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.conjurerTitle") %></h4>
            <p class="has-margin-top-1"><%= __("rules.conjurerText1") %></p>
          </div>
        </div>
        
        <a id="summoner"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.summonerTitle") %></h4>
            <p class="has-margin-top-1"><%= __("rules.summonerText1") %></p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="CRIMSON" cardId="summoner" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
        </div>
        
        <a id="sorcerer"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="GOLD" cardId="sorcerer" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.sorcererTitle") %></h4>
            <p class="has-margin-top-1"><%= __("rules.sorcererText1") %></p>
          </div>
        </div>
        
        <a id="hunter"></a>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.hunterTitle") %></h4>
            <p class="has-margin-top-1"><%= __("rules.hunterText1") %></p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="SLATEGRAY" cardId="hunter" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
        </div>
        
        <a id="origins"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.originsTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.originsText1") %></p>

        <a id="healer"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6"><%= __("rules.healerTitle") %></h4>
        <p class="has-margin-top-1"><%= __("rules.healerText1") %></p>
        
        <a id="architect"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6"><%= __("rules.architectTitle") %></h4>
        <p class="has-margin-top-1"><%= __("rules.architectText1") %></p>
        
        <a id="priest"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6"><%= __("rules.priestTitle") %></h4>
        <p class="has-margin-top-1"><%= __("rules.priestText1") %></p>
        
        <a id="blacksmith"></a>
        <h4 class="has-margin-top-1 has-text-primary is-uppercase is-size-6"><%= __("rules.blacksmithTitle") %></h4>
        <p class="has-margin-top-1"><%= __("rules.blacksmithText1") %></p>

        <hr />

        <a id="essentials"></a>
        <h2 class="has-text-primary is-uppercase is-size-2"><%= __("rules.essentialsTitle") %></h2>
        
        <a id="objective"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.objectiveTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.objectiveText1") %></p>
        <p class="has-margin-top-1"><%= __("rules.objectiveText2") %></p>
        
        <a id="content"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.contentTitle") %></h3>

        <div class="columns has-text-centered">
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-board.png" />
            </p>
            <p><%= __("rules.contentText1") %></p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-cards.png" />
            </p>
            <p><%= __("rules.contentText2") %></p>
            <p><%= __("rules.contentText3") %></p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-squares.png" />
            </p>
            <p><%= __("rules.contentText4") %></p>
          </div>
          <div class="column">
            <p class="has-margin-top-1">
              <img src="/images/rules-tokens.png" />
            </p>
            <p><%= __("rules.contentText5") %></p>
          </div>
        </div>
        
        <a id="install"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.installTitle") %></h3>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">1</span> <%= __("rules.installText1") %></p>
        <p class="has-margin-top-1"><%= __("rules.installText2") %></p>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">2</span> <%= __("rules.installText3") %></p>
        <p class="has-margin-top-1"><%= __("rules.installText4") %></p>

        <p class="has-margin-top-1 is-uppercase"><span class="stat defense">3</span> <%= __("rules.installText5") %></p>
        <p class="has-margin-top-1"><%= __("rules.installText6") %></p>

        <hr />

        <a id="cards"></a>
        <h2 class="has-text-primary is-uppercase is-size-2"><%= __("rules.cardsTitle") %></h2>
        
        <a id="types"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.typesTitle") %></h3>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="the-tower" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="is-uppercase is-size-6 has-text-link"><%= __("rules.typesText1") %></h4>
            <p class="has-margin-top-1"><%= __("rules.typesText2") %></p>
          </div>
        </div>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column">
            <h4 class="has-text-danger is-uppercase is-size-6"><%= __("rules.typesText3") %></h4>
            <p class="has-margin-top-1"><%= __("rules.typesText4") %></p>
          </div>
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="the-fox" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
        </div>
        
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <div class="card-wrapper is-half is-wrapped">
              <card-autoload color="#111" cardId="thunder" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
          <div class="column">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.typesText5") %></h4>
            <p class="has-margin-top-1"><%= __("rules.typesText6") %></p>
          </div>
        </div>
        
        <a id="stats"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.statsTitle") %></h3>
        <div class="columns is-vcentered has-margin-top-1">
          <div class="column has-text-centered">
            <p>
              <span class="stat strength">3</span> & <span class="stat defense">1</span> - <%= __("rules.statsText1") %>
            </p>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-one-third">
              <card-autoload color="#111" cardId="shadows-banner" locale="<%= __("locale") %>"></card-autoload>
            </div>
            <p class="has-margin-top-1">
              <span class="stat life"><i class="capacity-aura"></i></span> - <%= __("rules.statsText2") %>
            </p>
          </div>
          <div class="column has-text-left">
            <p>
              <span class="stat life">1</span> - <%= __("rules.statsText3") %>
            </p>
            <p class="has-margin-top-1">
              <span class="stat life"><i class="capacity-death"></i></span> - <%= __("rules.statsText4") %>
            </p>
          </div>
        </div>
        
        <a id="specials"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.specialsTitle") %></h3>

        <div class="has-margin-top-1 columns">
          <div class="column has-text-centered">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.specialsText1") %></h4>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="#111" cardId="lava" locale="<%= __("locale") %>"></card-autoload>
            </div>
            <p class="has-margin-top-1"><%= __("rules.specialsText2") %></p>
          </div>
          <div class="column has-text-centered">
            <h4 class="has-text-primary is-uppercase is-size-6"><%= __("rules.specialsText3") %></h4>
            <div class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="CRIMSON" cardId="summoner" locale="<%= __("locale") %>"></card-autoload>
            </div>
            <p class="has-margin-top-1"><%= __("rules.specialsText4") %></p>
            <p class="has-margin-top-1"><%= __("rules.specialsText5") %></p>
          </div>
        </div>

        <hr />

        <a id="game"></a>
        <h2 class="has-text-primary is-uppercase is-size-2"><%= __("rules.flowTitle") %></h2>
        
        <a id="start"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.startTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.startText1") %></p>
        <p class="has-margin-top-1 is-uppercase"><%= __("rules.startText2") %></p>
        <p class="has-margin-top-1"><%= __("rules.startText3") %></p>
        <p class="has-margin-top-1 is-uppercase"><%= __("rules.startText4") %></p>
        <p class="has-margin-top-1"><%= __("rules.startText5") %></p>
        
        <a id="discard"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.discardTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.discardText1") %></p>
        <p class="has-margin-top-1"><%= __("rules.discardText2") %></p>
        <p class="has-margin-top-1"><%= __("rules.discardText3") %></p>
        <p class="has-margin-top-1"><%= __("rules.discardText4") %></p>
        
        <a id="actions"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.actionsTitle") %></h3>

        <div class="columns has-margin-top-1 has-text-centered">
          <div class="column">
            <h4 class="is-uppercase has-text-primary"><%= __("rules.actionsText1") %></h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-place.png" />
            </p>
            <p class="has-margin-top-1"><%= __("rules.actionsText2") %></p>
            <p class="has-margin-top-1"><%= __("rules.actionsText3") %></p>
          </div>
          <div class="column">
            <h4 class="is-uppercase has-text-primary"><%= __("rules.actionsText4") %></h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-spell.png" />
            </p>
            <p class="has-margin-top-1"><%= __("rules.actionsText5") %></p>
          </div>
          <div class="column">
            <h4 class="is-uppercase has-text-primary"><%= __("rules.actionsText6") %></h4>
            <p class="has-margin-top-1">
              <img src="/images/rules-move.png" />
            </p>
            <p class="has-margin-top-1"><%= __("rules.actionsText7") %></p>
          </div>
        </div>
        
        <a id="confrontations"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.confrontationsTitle") %></h3>

        <h4 class="has-margin-top-1 is-uppercase has-text-primary"><%= __("rules.confrontationsText1") %></h4>
        
        <p class="has-margin-top-1"><%= __("rules.confrontationsText2") %></p>
        <p class="has-margin-top-1"><%= __("rules.confrontationsText3") %></p>
        <p class="has-margin-top-1"><%= __("rules.confrontationsText4") %></p>

        <h4 class="has-margin-top-1 is-uppercase has-text-primary"><%= __("rules.confrontationsText5") %></h4>
        
        <div class="has-text-centered" style="overflow: hidden;">
          <div class="has-margin-top-1 has-text-centered" style="min-width: 510px;">
            <div style="transform: rotate(90deg)" class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="CRIMSON" cardId="paladin-of-the-ninth-desert" locale="<%= __("locale") %>"></card-autoload>
            </div>&nbsp;<div style="transform: rotate(-90deg)" class="has-margin-top-1 card-wrapper is-wrapped is-half">
              <card-autoload color="DODGERBLUE" cardId="barbers" locale="<%= __("locale") %>"></card-autoload>
            </div>
          </div>
        </div>

        <p class="has-margin-top-1"><%= __("rules.confrontationsText6") %></p>
        <p class="has-margin-top-1"><%- __("rules.confrontationsText7") %></p>
        <p class="has-margin-top-1"><%- __("rules.confrontationsText8") %></p>

        <hr />

        <a id="capacities"></a>
        <h2 class="has-text-primary is-uppercase is-size-2"><%= __("rules.capacitiesTitle") %></h2>
        
        <a id="capacities-card"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.capacities-cardTitle") %></h3>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-death"></i></span> <%= __("rules.capacities-cardText1") %>
        </h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-cardText2") %></p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-treason"></i></span> <%= __("rules.capacities-cardText3") %>
        </h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-cardText4") %></p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-run"></i></span> <%= __("rules.capacities-cardText5") %>
        </h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-cardText6") %></p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-burdenEarth"></i></span> <%= __("rules.capacities-cardText7") %>
        </h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-cardText8") %></p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-grow"></i></span> <%= __("rules.capacities-cardText9") %>
        </h3>

        <p class="has-margin-top-1"><%- __("rules.capacities-cardText10") %></p>
        
        <a id="capacities-side"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.capacities-sideTitle") %></h3>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-threat"></i></span> <%= __("rules.capacities-sideText1") %>
        </h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-sideText2") %></p>
        
        <h3 class="has-margin-top-1 is-uppercase is-size-4">
          <span class="stat life"><i class="capacity-aura"></i></span> <%= __("rules.capacities-sideText3") %>
        </h3>

        <p class="has-margin-top-1"><%- __("rules.capacities-sideText4") %></p>

        <hr />

        <a id="exceptions"></a>
        <h2 class="has-text-primary is-uppercase is-size-2">Cas particuliers<%= __("rules.exceptionsTitle") %></h2>

        <p class="has-margin-top-1"><%= __("rules.exceptionsText1") %></p>
        
        <a id="capacities-vs-effects"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.capacities-vs-effectsTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.capacities-vs-effectsText1") %></p>
        
        <a id="many-capacities-effects"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.many-capacities-effectsTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.many-capacities-effectsText1") %></p>
        
        <a id="card-vs-rule"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.card-vs-ruleTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.card-vs-ruleText1") %></p>
        
        <a id="card-vs-rule"></a>
        <h3 class="has-margin-top-1 has-text-primary is-uppercase is-size-4"><%= __("rules.card-vs-cardTitle") %></h3>

        <p class="has-margin-top-1"><%= __("rules.card-vs-cardText1") %></p>

      </div>
    </div>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
