<%- include('../elements/nav.ejs') %>

<div id="tournament" class="">
  <div class="tournament-heading">
    <div class="article-image" style="background-image: url(/images/<%= tournament.image %>);"></div>
    <div class="container">
      <h1 class="is-size-2 is-uppercase has-text-primary has-text-centered has-text-shadow">
        <%= tournament.title %>
      </h1>
      <h2 class="is-size-4 is-uppercase has-text-primary has-text-centered has-text-shadow">
        <% if (tournament.registrationCloseAt > Date.now()) { %>
          Fin des inscriptions dans <countdown :date="<%= tournament.registrationCloseAt %>"></countdown>
        <% } else if (tournament.tournamentCloseAt > Date.now()) { %>
          combat
          Clôture du tournois dans <countdown :date="<%= tournament.tournamentCloseAt %>"></countdown>
        <% } %>
      </h2>
    </div>
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="has-text-centered content">
      <%- tournament.text %>
    </div>
    <div class="mt-6 columns has-text-centered">
      <div class="column">
        <p class="is-size-3">🌍</p>
        <p class="is-size-4 is-uppercase">Domaine</p>
        <hr />
        <p><%= tournament.realm %></p>
      </div>
      <div class="column">
        <p class="is-size-3">✨</p>
        <p class="is-size-4 is-uppercase">Modificateurs</p>
        <hr />
        <% tournament.modifiers.split(',').forEach(function(modifier){ %>
          <p><%= __(`tournament.modifiers.${modifier}`) %></p>
        <% }); %>
      </div>
      <div class="column">
        <p class="is-size-3">⌚</p>
        <p class="is-size-4 is-uppercase">Vitesse</p>
        <hr />
        <p>
          <%= tournament.speed === 0.5 ? "Rapide" : "" %>
          <%= tournament.speed === 1 ? "Normale" : "" %>
          <%= tournament.speed === 2 ? "Lente" : "" %>
          <%= tournament.speed === 99 ? "Tour par tour" : "" %>
        </p>
      </div>
    </div>
  </div>

  <div class="separator my-6"></div>

  <div class="container">
    <% if (tournament.registrationCloseAt > Date.now()) { %>
      <div class="has-text-centered">
        <% if (typeof user_id === "undefined")  { %>
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <p class="has-text-danger">Pour vous inscrire à ce tournoi vous devez être conntecté à votre compte sorcier.</p>
              <p class="mt-3">
                <a class="button is-danger" href="/login?redirect=tournaments/<%= tournament.slug %>">Se connecter</a>
              </p>
            </div>
          </div>
        <% } else if (registration) { %>
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <p>Votre inscription a été prise en compte.</p>
            </div>
          </div>
        <% } else { %>
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <p>Vous pouvez vous inscrire à ce tournoi. Attention, toute inscription est définitive.</p>
              <p class="mt-3">
                <form action="/tournaments/<%= tournament.slug %>/register" method="POST">
                  <input type="submit" class="button is-primary is-size-4" value="S'inscrire" />
                </form>
              </p>
            </div>
          </div>
        <% } %>
      </div>
    <% } else if (tournament.tournamentCloseAt > Date.now()) { %>
      <div class="columns">
        <div class="column is-9">
          //TODO
        </div>
        <div class="column is-3">
          <room roomid="tournament-<%= tournament.id %>" accesstoken="<%= session.access_token %>"></room>
        </div>
      </div>
    <% } else { %>
      closed
    <% } %>
  </div>
</div>

<%- include('../elements/footer.ejs') %>
